@model MyWebApp1.Models.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
}

<h2>更改密碼</h2>

<form action="~/Player/ChangePassword" method="post">
    <div class="row mb-4">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-form-label col-sm-3" })
        <div class="col-sm-9">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row mb-4">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-form-label col-sm-3" })
        <div class="col-sm-9">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row mb-4">
        @Html.LabelFor(m => m.NewPassword2, new { @class = "col-form-label col-sm-3" })
        <div class="col-sm-9">
            @Html.PasswordFor(m => m.NewPassword2, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewPassword2, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm-9 offset-sm-3">
            <input type="submit" value="變更" class="btn btn-outline-primary" />
            <span class="text-danger" style="margin-left: 10px">@ViewBag.Message</span>
        </div>
    </div>
</form>
